*{
    box-sizing: border-box;
    padding: auto;
    margin: 0;
}

body{
    background: rgb(243, 238, 238);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
    
}



.upper-header{
    background: rgb(57, 51, 51);
}


.upper-header ul{
    list-style: none;
    height: 50px;
}



.upper-header li{
    display: inline;
}

.upper-header ul li ion-icon{
    color:white; 
    font-size: 30px;
    border-radius: 30%;
    border-color: white;
   margin-top: 5px;
}



.upper-header input[type="button"]{
 float: right;
 margin-right: 5%;
 border-radius: 100px;
 border-color: white;
 background: rgb(57, 51, 51);
 color:white;
 margin-top: 10px;
 width: 100px;
 height: 30px;
}


.upper-header ion-icon[name="person-outline"]{
 position: absolute;
 color: white;
 right: 11%;
 top: 2%;
 font-size: 15px;
}



@media screen and (max-width: 1200px) and (min-width: 100px) {
    body{
        overflow-x:hidden;
    }
    

    .upper-header ul ion-icon[name="person-outline"]{
        display: none;
    }
    
    .upper-header input[type="button"]{
 
     margin-top: -25px;
    
    }

}


@media screen and (max-width: 320px)and (min-width: 100px){
    .upper-header {
        width: 100%;
    }
    
}





/*main-header*/

.main-header{
    background: whitesmoke;
   position: relative;
   height: 110px;
}

.main-header .main-container{
    list-style: none;
}

.main-header .main-container{
    display: inline-block;
    
}

.main-container {
    padding-left: 10%;
    border-color: aliceblue;
    margin-bottom: 30px;
    margin-left: 25px;
}

img{
    margin-top: 6px;
    margin-left: 9px;
}

.main-container a{
    color:black;
}



.main-container i{
    margin-right: 10%;
}

.main-container ion-icon[name="mail-outline"]{
    position: absolute;
    left: 39%;
    font-size: 250%;
}

.main-container ion-icon[name="call-outline"]{
    position: absolute;
    font-size: 250%;
    left: 62%;
}

.main-container ion-icon[name="newspaper-outline"]{
    position: absolute;
   left: 83%;
   font-size: 250%;
}


@media screen and (max-width: 1200px) and (min-width: 320px){
    .main-header .main-container{
        display: none;
    }
    
}

@media screen and (max-width: 1200px)and (min-width: 320px){
    .main-header{
        width: 100%;
        height: 50%;
    
    
    }

    img{
        
        align-self: center;
        max-width: 95%;
    }
}





/*lower-header*/

.lower-header{
    background-color:rgb(3, 3, 53);
    height: 55px;
    border-bottom: 3px solid rgb(240, 181, 138);
}
    
   
.lower-header .menus{
 list-style: none;
       
 }
   
.lower-header li {
       float: inline-start;
       color:white;
       margin-top: 15px;
   
}
   
.lower-header ul {
       margin-left: 30px;
}
   
.menus li a{
       text-decoration: none;
       color:white ;
       padding: 18px;
       border-right: 1px solid rgb(57, 51, 51);
}
   
.lower-header ul li a:hover{
       background: rgb(57, 51, 51);
       color: white;
}
   
   
@media screen and (max-width: 1200px) and (min-width: 320px){
   .lower-header{
           height: auto;
    }
       
  .lower-header ul li a{
          
        border-right: none;
        margin: 5px;
        padding: 10px;
    }
    .lower-header ul li{
       float: none;
         text-align:left;
        width: 100%;
        padding: 5px;
        
    }
     
   

}



.sidebar{
    
    top: 0;
    right: 0;
    height: auto;
    width: 250px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    position: relative;
    padding: 10%;
}

.sidebar li{
    width: 100%;
    list-style: none;
}

.sidebar a{
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.sidebar ion-icon{
   position: absolute;
   left: 0%;
   top: -10%;
   font-size: 40px;

}

.sidebar .close a:hover{
    background: none;
}

.menubtn{
  display: none;
}

@media(max-width: 1200px) and (min-width: 320px){
    .lower-header .menus .dropdown{
        display: none;
    }
    .menubtn{
        display: block;
        color: #11ecc8;
        font-size: 40px;
        left: -50%;
        position: relative;
    }

    .menus ion-icon{
        color: #fff;
        left: 130%;
        top: 10%;
        position:absolute ;
        
    }

    .menus .menubtn a:hover{
        background: none;
    }
}


@media screen and (max-width: 1200px) and (min-width: 320px){
    .sidebar{
        width: 100%;
       
    }
}



/** dropdown**/

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}





.dropdown{
    position: relative;
    display: inline-block;

}

.dropdown-menu{
    position: absolute;
    top: 180%;
    left: -20%;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    list-style: none;
    
    padding-right: -30%;
    margin: 1px 0 0;
    float: left;
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    display: none;
    z-index: 1;
    text-align: left;

}

.dropdown:hover .dropdown-menu{
    display: block;
    padding: 18px;
    
}

.dropdown-menu li a{
    color: black;
  padding: 15px;
  
}



.dropdown-menu li a:first-child{
    border-right: none;
}

@media screen and (max-width: 1200px) and (min-width: 320px){
    .dropdown-menu{
        position: relative;
        background:none;
        color: #fff;
        left: auto;
        padding-right: none;
        box-shadow: none;
    }

   
    .dropdown-menu li a{
        color: #ffffff;
        
        
    }
}




/**banner**/

#background { 
    background-image: url('/img/rucketech/photo_2024-01-12_04-47-30.jpg');
    background-size: 100% 90% ;
    background-repeat: no-repeat;
    height:400px;
    width: 1250px;
    animation-name: background ;
    animation-duration: 10s;
     margin-bottom: 2px;
     animation-delay: 2s;
     animation-iteration-count: infinite;
}
 
@keyframes background{
     0% {background-image: url('/img/rucketech/photo_2024-01-12_04-47-30.jpg');left:200px;}
     50% {background-image: url('img/rucketech/photo_2024-01-12_04-48-26.jpg') ; right:200px;}
     100% {background-image: url('img/rucketech/photo_2024-01-12_04-48-35.jpg') ;left:200px; }
    
}
 
@media screen and (max-width: 1200px) and (min-width: 320px){
    #background{
        width: auto;
         
    }
}
 


/**contact us **/


.form-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 h4{
     padding-top: 10px;
     text-align: center;
     font-size: 30px;
     margin-bottom: 5px;
 }
 
 .form label{
     float: left;
     margin-top: 7px;
     width: 80px;
     
 }
 
 .field input[type="text"],textarea{
     float: left;
     width: 600px;
     margin-top: 7px;
     padding: 5px;
     resize: none;
 }
 
 .form::after{
     content: "";
     display: table;
     clear: both;
 }
 
 input[type="button"]{
     margin-left: 50%;
     margin-top: 10px;
     width: 90px;
     height: 30px;
     background: #23e3c2;
     cursor: pointer;
 }
 
 .form{
     margin-left: 30%;
 }
 
 
 .box{
     display: flex;
     padding: 20px;
     margin-left: 55px;
     margin-top: 20px;
 }
 
 .location:hover{
     background:white;
     border: 1px solid gray;
     box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2);
 
 }
 .hour:hover{
     background:white;
     border: 1px solid gray;
     box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2);
 
 }
 .contac:hover{
     background:white;
     border: 1px solid gray;
     display:block;
    box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }
 
 
 .location{
     position: relative;
     background: rgb(228, 238, 244);
     height: 200px;
     width: 350px;
     margin-right: 30px;
     border: 1px  gray;
 }
 
 .contac{
     position: relative;
     background: rgb(228, 238, 244);
     height: 200px;
     width: 350px;
     margin-right: 30px;
     border: 1px  gray;
 
 }
 
 .hour{
     position: relative;
     background: rgb(228, 238, 244);
     height: 200px;
     width: 350px;
     margin-right: 30px;
     border: 1px gray;
 }
 
 .box h1{
     text-align: center;
     margin-top: 80px;
     margin-bottom: 10px;
 }
 
 .box address{
     text-align: center;
 }
 
 .box .small{
     text-align: center;
 }
 
 .box ion-icon{
     margin-top: 20px;
     position: absolute;
     padding-left: 40%;
     font-size: 45px;
 }

 @media screen and (max-width: 1200px) and (min-width: 320px){
    .field input[type="text"],textarea{
         float:inline-end;
         justify-items: center;
         margin-right: 20px;
         
    }
 
    .location{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
    }
 
    .hour{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
    }
 
    .contac{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
         
    }

    .box{
         display: block;
     
    }
    .box .small{
        
    }
 
 
    .form label{
         float: left;
    }
 
    .field input[type="text"],textarea{
         width: 510px;
        
    }
 
    .btn input[type="button"]{
         
 
    }
     
    .box ion-icon{
        margin-top: 20px;
        position: absolute;
        padding-left: 20%;
        font-size: 45px;
    }

    .box .small{
        text-align: center;
    }
}
 

@media screen and (max-width: 1200px) and (min-width: 320px){
    .field input[type="text"],textarea{
         float:inline-end;
         justify-items: center;
         margin-right: 20px;
         
    }
 
    .location{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
    }
 
    .hour{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
    }
 
    .contac{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
         
    }

    .box{
         display: block;
     
    }
    .box .small{
         text-align: center;
    }
 
 
    .form label{
         display: none;
    }
 
    .field input[type="text"],textarea{
         width: 500px;
         margin-right: 30%;
    }
 
    .btn input[type="button"]{
         
 
    }
     
    .box ion-icon{
        margin-top: 20px;
        position: absolute;
        padding-left: 20%;
        font-size: 45px;
    }

    .box .small{
       text-align: center;
        
    }
}
 
@media screen and (max-width: 1200px) and (min-width: 320px){
    .field input[type="text"],textarea{
         float:inline-end;
         justify-items: center;
         margin-right: 20%;
         
    }
 
    .location{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
    }
 
    .hour{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
    }
 
    .contac{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
         
    }

    .box{
         display: block;
     
    }
    .box small{
         margin-right: 2px;
    }
 
 
    .form label{
         display: none;
    }
 
    .field input[type="text"],textarea{
         width: 350px;
         margin-right: 30%;
    }
 
    /*.btn input[type="button"]{
         margin-left: 170px;
 
    }*/
     
    .box ion-icon{
      padding-left: 30%;
    }

    .box small{
        margin-left: 70px;
    }
}
 
 

@media screen and (max-width: 425px) and (min-width: 100px){
    .field input[type="text"],textarea{
         float:inline-end;
         justify-items: center;
         margin-right: 20px;
         
    }
 
    .location{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
    }
 
    .hour{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
    }
 
    .contac{
         height: auto;
         width: auto;
         padding: 20px;
         margin-bottom: 20px;
         
    }

    .box{
         display: block;
     
    }
    .box small{
         margin-right: 2px;
    }
 
 
    .form label{
         display: none;
    }
 
    .field input[type="text"],textarea{
         width: 290px;
         margin-left: 50%;
    }
 
    /*.btn input[type="button"]{
         margin-left: 100px;
 
    }*/
     
    .box ion-icon{
      text-align: center;
    }

    .box small{
        margin-left: 0px;
    }
}




/**note*/

.note{
    display: flex;
}

.main-body{
    display: inline-flex;
    padding: 20px;
    color: #fff;
    background-color:rgb(3, 3, 53);
    margin-bottom: 10px;
    border-radius: 9px;
    margin-left: 60px;
    margin-right: 60px;
}

.project{
    text-align: start;
    padding: 20px;
  border-left: 1px solid;
}

.main-body .project:first-child{
    border-left: none;
}
@media screen and (max-width: 1200px) and (min-width: 100px){

    .note{
        justify-content: center;
    }
  .main-body{
    display:block ;
    margin: left 20px; 
    
  }
  .project{
    border-left: none;
    border-bottom: 1px solid;
  }
}





/**footer*/

.maim{
    display: flex;
    background-color:rgb(3, 3, 53);

}

.main-footer{
    display: inline-flex;
    
    color: #fff;
}



.footer{
    margin: 100px;
}

.footer  h3{
    position: relative;
    margin-bottom: 40px;
    font-size: 25px;
}

.footer h3::after{
    position: absolute;
    content: "";
    background: #ffffff;
    width: 50px;
    height: 2px;
    bottom: -3px;
    left: 0;
}


.footer li a{
    color: #ccc;
    text-decoration: none;
    font-size: 18px;
    border: none;
}

footer li{
    position: relative;
    list-style: none;
    

}

.footer a ion-icon{
    line-height: 30px;
    width: 30px;
    height: 35px;
    padding: 6px;
   color: red;
   border-radius: 40px;
   border: 2px solid white;
}

.footer li::after{
    content: "\f105";
    position: absolute;
    top: 2px;
    left: -15px;
    font-family: 'FontAwesome';
}

@media screen and (max-width: 1000px) and (min-width: 100px){
    .maim{
        width: auto;
        height: auto;
    }



    .main-footer{
        display: block;
    }

}




/**gallery**/

.gallery{
    margin-left: 60px;
    margin-top: 30px;
}

.gall{
   position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    
    
}



.clearfix{
    content: "";
    display: table;
    clear: both;
}

.gall img{
    width: 250px;
    height: 155px;
    border: 7px solid wheat;
    border-radius: 6px  ;
   
}

.gallery h2{
    margin-bottom: 20px;
    font-size: 30px;
}

/*.gall img:hover 
 {
   
    border: 3px solid rgb(9, 9, 9);
    border-radius: 6px;
   
}*/


.gall .overlay{
   
   position:absolute;
   width: 250px;
   height: 156px;
    left: 5;
    top: 1;
    bottom: 0;
    right: 0;
    opacity: 0;
    border-radius: 6px;
   transition: all 0.4s ease-in-out 0s;
    

}
.overlay:hover
{ opacity:0.7;
    background: rgb(0, 0, 0);
}

@media screen and (max-width: 1200px){
    .gallerys{
        margin-left: 30px;
    }
}
 
@media screen and (max-width: 800px){
    .gallerys{
        margin-left: 45px;
    }
}


@media screen and (max-width: 500px) and (min-width: 375px){
    .gallerys{
        margin-left: -20px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 320px){
    .gallerys{
        margin-left: 0%;
    }

    
}



/**enroll**/

.enroll{
    margin: 30px;
}

.enroll h2{
    margin-left: 30px;
    
}

.Instructions{
    margin-left: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 40px;

}

.Instructions h3{
    border: 1px solid gray;
    background: #ccc;
    padding-left: 20px;
}

.Instructions p{
    padding-left: 20px;
    margin: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.enroll .btn input{
    background: gray;
    width: 170px;
    float: right;
    border-radius: 20px;
    color: #fff;
}

.enroll .btn input:hover{
    background: black;
}


.Instructions p a{
    text-decoration: none;
}


.basic{
    margin-left: 30px;
    border: 1px solid gray;
    margin-top: 20px;
    border-radius: 3px;

}

.basic h3{
    background: #ccc;
    border: 1px solid gray;
    padding-left: 20px;
}


.basic .detail-field{
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
}

.detail-field label{
    float: left;
    margin-top: 10px;
}


.detail-field .field  input, select{
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 5px;
   
}

.enroll-submit{
   background: rgb(40, 40, 40);
   width: 80px;
   color: #ffffff;
   margin-top: 10px;
   height: 30px;
   margin-left: 30px;
   border-radius: 20px;
   cursor: pointer;
}

.form1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20%;
   position: fixed;
    display:none;
    justify-content: center;
    align-items: center;
    
}
.form1 .form2{
    height:auto ;
    width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 7px;
    position: relative;
    margin-right: 50px;
    
}

.form1 .form2 h2{
    text-align: start;
    margin-left: 2px;
    border-bottom: 1px solid;
    font-size: 20px;
    
}

.form1 .form2 h6{
  font-size: 13px;
  margin-top: 10px;
}
.form1 .form2 h6 span{
    color: red;
}

.form1 .form2 input{
    margin-bottom: 10px;
    width: 80%;
    height: 40px;
    margin-top: 9px;
}
.form1 .form2 .submit{
   margin-left: 80%;
    color: white;
    background: rgb(67, 65, 65);
    width: 15%;
    height: 28px;
} 

.form1 .form2 .close{
    margin-left: 50%;
    color: white;
    background: rgb(67, 65, 65);
    width: 15%;
    height: 28px;
    margin-top: 30px;
    
}

.form1 .form2 button{
    margin-bottom: -5%;
}

.form1 .form2 #close{
    display: flex;
    
}

.form1 .form2 ion-icon{
    position: absolute;
    left: 93%;
    font-size: 30px;
    top: 3%;
}


@media screen and (max-width: 500px) and (min-width: 100px){
    .enroll .btn{
        float: left;
    }

    .enroll h2{
        text-align: center;
    }
}


@media screen and (max-width: 500px){
    .enroll .btn{
        margin-left: -40px;
    }
}

@media screen and (max-width: 380px){
    .enroll .btn{
        margin-left: 0px;
    }
}

@media screen and (max-width: 320px) and (min-width: 100px){
    .enroll .btn{
        margin-left: -38px;
    } 

    .detail-field .field  input, select{
        width: 200px;
        margin-left: -10px;
    }

}






/**update page**/

.lat-updates{
    margin: auto;
    padding: auto;
}


.lat-updates .update{
    margin: 40px;
    padding: 20px;
}

.lat-updates .update h3{
    font-size: 25px;
    margin-left: 10px;
}

.lat-updates .update .updates{
    margin: 20px;
}

.lat-updates .update img{
    width: 1100px;
}

.lat-updates .update  p{
    margin-top: 5px;
    margin-left: 14px;
}

.lat-updates .update  p a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(106, 106, 240);
}

.lat-updates .update  p a:hover{
    color: rgb(175, 227, 227);
}

@media screen and (max-width: 1200px){

  .lat-updates .update .updates{
    margin-right: 30px;
  }

    .lat-updates .update .updates img {
        width: 800px;
        margin-right: 30px;

    }



}

@media screen and (max-width: 800px){

  .lat-updates .update .updates{
    margin-right: 30px;
  }

    .lat-updates .update .updates img {
        width: 600px;
        margin-right: 30px;

    }



}

@media screen and (max-width: 500px){

  .lat-updates .update .updates{
    margin-right: 30px;
  }

    .lat-updates .update .updates img {
        width: 300px;
        margin-right: 30px;

    }



}

@media screen and (max-width: 380px) and (min-width: 100px){

  .lat-updates .update .updates{
    margin-right: 100px;
  }

    .lat-updates .update .updates img {
        width: 200px;
        margin-right: 80%;

    }



}





/***update1**/

.update1 .update{
    margin-left: 150px;
    margin-bottom: 35px;
}

.update1 .update img{
    margin-top: 30px;
}

.update1 .update h2{
    font-size: 30px;
    margin: 20px;
    width: 940px;
}

.update1 .update p{
    font-size: 20px;
    margin: 20px;
    background: rgb(252, 246, 238);
    width: 940px;
}


@media screen and (max-width: 1200px){
    .update1 .update img{
        width: 90%;
    }

    .update1 .update h2{
        width: 90%;
    }

    .update1 .update p{
        width: 90%;
    }
}

@media screen and (max-width: 500px) and (min-width: 100px){
    .update1 .update{
        margin-left: 40px;
    }
}

/**update2**/

.update2 .update{
    margin-left: 150px;
    margin-bottom: 35px;
}

.update2 .update img{
    margin-top: 30px;
}

.update2 .update h2{
    margin: 19px;
    font-size: 35px;
    width: 940px;
}

.update2 .update p{
    font-size: 20px;
    margin: 20px;
    width: 940px;
}

@media screen and (max-width: 1200px){
    .update2 .update img{
        width: 90%;
    }

    .update2 .update h2{
        width: 90%;
    }

    .update2 .update p{
        width: 90%;
    }
}

@media screen and (max-width: 500px) and (min-width: 100px){
    .update2 .update{
        margin-left: 40px;
    }
}




/**update3**/

.update3 .update{
    margin-left: 150px;
    margin-bottom: 30px;
}

.update3 .update img{
    margin-top: 30px;
}

.update3 .update h2{
    margin: 19px;
    font-size: 35px;
    width: 980px;
}

.update3 .update p{
    font-size: 17px;
    width: 980px;

}
.update3 .update ol{
    font-size: 17px;
    width: 980px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px){
    .update3 .update img{
        width: 90%;
    }

    .update3 .update h2{
        width: 90%;
    }

    .update3 .update p{
        width: 90%;
    }
    .update3 .update ol{
        width: 90%;
    }
}

@media screen and (max-width: 500px) and (min-width: 100px){
    .update3 .update{
        margin-left: 40px;
    }
}

/* /*courses* */
.content{
width: 50%;
margin-left: 290px;
}

.content h1{
text-align: center;
}

.content p{
    text-align: center;
}

.fl{
    margin-right: 100px;
    margin-top: 25px;
}

.boxes{
    width: 40%;
   float: right;
   margin: 20px;
   background-color: #fff;
    height: 550px;
    
    
    border: 2px solid;
}

.boxes img{
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

.boxes p{
    width: 400px;
    margin-left: 4%;
    padding: 4px;
}

.boxes h2{
    margin-left: 4%;
    padding: 1px;
    color: rgb(123, 123, 241);
}

.boxes button{
    margin-left:4%;
    background-color: rgb(67, 66, 66);
    color: #fff;
    height: 40px;
    width: 100px;
    margin-top: 20px;
}

.boxes .btn3{
    margin-top: 20%;
}
.boxes .btn2{
    margin-top: 27%;
}

.boxes .btn4{
    margin-top: 21%;
}



